<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Collab</title>

    <!-- SEO -->
    <meta name="description" content="Editeur de code en ligne collaboratif" />
    <meta name="author" content="Yohann THEPAUT <contact@ythepaut.com> (ythepaut)" />
    <meta property="og:site_name" content="COLLAB.YTHEPAUT.COM" />
    <meta property="og:image" content="favicon.ico" />
    <meta property="og:description" content="Editeur de code en ligne collaboratif" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://collab.ythepaut.com/" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="keywords" content="Editeur, code, collab, collaboratif" />

    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="./assets/img/logo_white.png" width="30" height="30" class="d-inline-block align-top" alt="" />
        <a class="navbar-brand" href="/">
            &nbsp;&nbsp;Collab
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>