<%- include('header') %>

<form action="./actions/create.php" method="POST" id="create">
    <textarea id="paste" name="paste" oninput="auto_grow(this);" spellcheck="false" maxlength="1000000" required="" style="height: 622px;"></textarea>
</form>

<%- include('footer') %>