<%- include('header') %>

<div class="file-tree col-2 d-none d-sm-block">
    <div class="project-name">MON PROJET DE C</div>
    <ul>
        <li>
            <a href="#"><i class="fas fa-folder-open"></i>includes</a>
            <ul>
                <li>
                    <a href="#"><i class="far fa-file"></i>display.h</a>
                </li>
                <li>
                    <a href="#"><i class="far fa-file"></i>utils.h</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="far fa-file"></i>main.c</a>
        </li>
        <li>
            <a href="#"><i class="far fa-file"></i>main.h</a>
        </li>
        <li>
            <a href="#"><i class="far fa-file"></i>Makefile</a>
        </li>
    </ul>
</div>

<div class="editor col-lg">
    <textarea spellcheck="false" maxlength="1000000" required></textarea>
</div>

<%- include('footer') %>
