* {
    margin: 0;
    padding: 0;
}

nav.navbar {
    background-color: #242e37 !important;
}

textarea {
    display: inline-block;
    background: 0 0;
    border: 0;
    color: #fff;
    background-color: #1e272e;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    font-size: 13px;
}